development:
  adapter: postgresql
  encoding: unicode
  database: ngmodules_development
  pool: 5
  username: ngmodules
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: ngmodules_test
  pool: 5
  username: ngmodules
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: ngmodules_production
  pool: 5
  username: ngmodules
  password:
